* {
    box-sizing: border-box;
}
/*starting with the body and mobile version first*/
body {
    font-family: sans-serif;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    height: 100vh;
}
