* {
    box-sizing: border-box;
}
/*starting with the body and mobile version first*/
body {
    font-family: sans-serif;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    height: 100vh;
}

header {
    background-color: #120323;
    text-align: center;
}
/*added header*/

/* color to h1*/
h1 {
    color: #97bf04;
}

/* css to nav*/
nav {
    background-color: #d9043d;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
list-style: none;
}

ul li {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    border: #97bf04;
}

ul li a {
    color: white;
    text-decoration: none;
}